body {
  font-family: 'Karla', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #E6EFF5;
}

main {
  width: 82.94vw;
  border-radius: 5px;
}