@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
 /* font-size: clamp(1.25rem, 2.5vw, 1.5rem);*/
 /* font-size: clamp(1rem + 1.07vw, 1rem + 1.2vw , 1rem + 0.56vw); */
 font-size: calc(1rem + 1.07vw);
  @apply font-bold;
}

.subtitle {
  font-size: clamp(0.9375rem, 2.5vw, 1.125rem);
}

.description {
  font-size: clamp(0.875rem, 2.5vw, 1rem);
  @apply font-normal;
}

h2 {
  font-size: 1.125rem;
  @apply font-bold;
}

.price {
  @apply text-[2rem];
  @apply font-bold;
}

.unit {
  @apply font-normal;
}

button {
  @apply font-bold;
}

@media (min-width: 80rem) {
  h1 {
    font-size: calc(1rem + 0.56vw);
  }
}