@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
 font-size: calc(0.0625rem + 5.07vw);
  @apply font-bold;
}

.subtitle {
  font-size: calc(0.0625rem + 3.74vw);
}

.description {
  font-size: calc(0.0625rem + 3.47vw);
  @apply font-normal;
}

h2 {
  font-size: calc(0.0625rem + 4.54vw);
  @apply font-bold;
}

.price {
  font-size: calc(0.0625rem + 8.27vw);
  @apply font-bold;
}

.unit {
  font-size: calc(0.0625rem + 4vw);
  @apply font-normal;
}

button {
  font-size: calc(0.0625rem + 4vw);
  @apply font-bold;
  min-height: 12.8vw;
}

@media (min-width: 40rem) {
  h1 {
    font-size: calc(0.0625rem + 1.6vw);
  }

  .subtitle {
    font-size: calc(0.0625rem + 1.19vw);
  }

  .description {
    font-size: calc(0.0625rem + 1.05vw);
  }

  h2 {
    font-size: calc(0.0625rem + 1.19vw);
  }

  .price {
    font-size: calc(0.0625rem + 2.2vw);
  }

  .unit {
    font-size: calc(0.0625rem + 1.05vw);
  }

  button {
    font-size: calc(0.0625rem + 1.05vw);
    min-height: 3.34vw;
  }
}